
/*___________ TOP LAYOUT_________________ */

body
{
	background-color: #fff;
	font-family: sans-serif ;
}

/*___________ITEM_________________ */
.node-title
{
	font-weight: bold;
}

/*___________ ADMIN PAGES_________________ */

.admin-table,.admin-table td,.admin-table th
{
	border: 1px solid black;
	padding: 0.3em;
	border-spacing: 0;
	border-collapse: collapse;
}

.admin-table th
{
	background-color: #ddd;
}

/*___________ FORM_________________ */

.form-element,.form-fieldset
{
	margin-top: 8px;
}

.form-element .form-element-invalid
{
	border: 2px solid red;
}

.form-element label 
{
	display: block;
	font-weight: bold;
}

.form-element .radio-label
{
	display: inline;
	font-weight: normal;
}

.form-element .checkbox-label
{
	display: inline;
	font-weight: normal;
}


.form-element .form-textfield
{
	border: 1px solid gray;
	width: 90%;
}

.form-element .form-textarea
{
	border: 1px solid gray;
	height: 150px;
	width: 90%;
}

.form-fieldset
{
	width: 88%;
	padding: 1em;
	border: 1px solid #000;
	font-weight: bold;
}
