

#page-table
{
	width: 100%;
}

#page-table #content 
{
	background-color: #fff;
	vertical-align: top;
	width: 80%;
}


#left-sidebar
{
	background-color: #ddd;
	width: 20%;
	/* padding in px not ex because IE messes up 100% width tables otherwise */
	padding: 10px;
	vertical-align: top;
}

/*___________ FORM_________________ */

.form-element,.form-fieldset
{
	margin-top: 8px;
}

.form-element .form-element-invalid
{
	border: 2px solid red;
}

.form-element label 
{
	display: block;
	font-weight: bold;
}

.form-element .radio-label
{
	display: inline;
	font-weight: normal;
}

.form-element .radio-label
{
	display: inline;
	font-weight: normal;
}

.form-element .checkbox-label
{
	display: inline;
	font-weight: normal;
}


.form-element .form-textfield
{
	width: 90%;
}

.form-element .form-textarea
{
	width: 90%;
	height: 150px;
}

.form-element .form-textfield
{
	width: 90%;
}

.form-fieldset
{
	border: 1px solid #000;
	font-weight: bold;
	width: 88%;
}
