/*___________ TOP LAYOUT_________________ */

body
{
	background-color: #596cb4;
	font-family: sans-serif ;
	font-size: 0.70em ;
	text-align: center;
}

#page 
{
	background-color: #fff;
	margin: 0 5% 0 5%;
	max-width: 1100px;
	min-width: 760px;
	text-align: left;
}

#page1
{
	background: url(images/page_left.png) left repeat-y;
}

#page2
{
	background: url(images/page_right.png) right repeat-y;
}

#page3
{
	background: url(images/page_bottom.png) bottom repeat-x;
}

#page4
{
	background: url(images/page_top.png) top repeat-x;
}

#page5
{
	background: url(images/page_corner_ul.png) top left no-repeat;
}

#page6
{
	background: url(images/page_corner_ur.png) top right no-repeat;
}

#page7
{
	background: url(images/page_corner_bl.png) bottom left no-repeat;
}

#page8
{
	background: url(images/page_corner_br.png) bottom right no-repeat;
	padding: 15px;
}


#contents
{
	margin-left: 170px;
}

#contents-center
{
	background-color: #ededff;
	border: 1px dashed;
	margin: 0 0 0 8px;
	padding: 8px;
}


#contents-header
{
}

#contents-footer
{
}


#left-sidebar
{
	float: left;
	width: 165px;
}

#logo
{
	padding: 12px;
	width: 400px;
	height: 54px;
}

#header
{
	width: 100%;
}

#links
{
	width: 100%;
	background: url(images/links_bg.png) no-repeat;
	height: 25px;
	padding: 0.45em;
	margin-left: 10px;
}


#footer
{
	padding: 0.5em 0 1em;
	font-size: 0.8em;
	text-align: center;
	vertical-align: bottom;
}


/*___________VARIOUS_ITEMS_________ */

/* Reset css layout */
.cleaner
{
	clear: both;
	height: 1px;
	font-size: 1px;
	border: none;
	margin: 0; 
	padding: 0;
	background: transparent;
}

.footer
{
	text-align: center;
}


/*___________NODE_________________ */
.node-title
{
	font-weight: bold;
}



/*___________ BOX & C._________________ */

.box
{
	font-size: 1em;
	background: url(images/box_background.png) repeat-y;
	margin-bottom: 1em;
	width: 162px;
}

.box a
{
	color: #ddd;
}

.box .content
{
	background: url(images/box_footer.png) no-repeat left bottom;
	padding: 0 0 1em 0;
}

.box .title
{
	font-weight: bold;
	background: url(images/box_header.png) no-repeat;
	padding: 0.5em 0 0 0;
	color: #fff;
	text-align: center;
	height: 30px;
}

/*___________ Operations_________________ */

.node-brief
{
	margin: 1em;
}

.node .operations, .node-brief .operations, .cathegory .operations
{
	display: block;
}

.node .operation, .node-brief .operation, .cathegory .operation
{
	display: inline;
}

/*___________ MOVE to default._________________ */
ul
{
  padding: 0 0 0 1em;
  margin: 0;
}


li
{
  list-style-type: disc;
  padding: 0.2em 0 0 0;
  margin: 0;
}