
/*___________ TOP LAYOUT_________________ */

body
{
	background-color: #fff;
	font-family: sans-serif ;
}

#page
{
	/*width: 100%;*/
}

#page 
{
	padding: 10px;
}


#contents
{
	margin-left: 200px;
}


#left-sidebar
{
	float: left;
	left: 1em;
	padding: 10px;
	width: 184px;
}

#logo
{
	background: url(images/logo.png) no-repeat;
	width: 20em;
	height: 4em;
}



#footer
{
	
	vertical-align: bottom;
}


/*___________VARIOUS_ITEMS_________ */

/* Reset css layout */
.cleaner
{
	clear: both;
	height: 1px;
	font-size: 1px;
	border: none;
	margin: 0; 
	padding: 0;
	background: transparent;
}

.footer
{
	text-align: center;
}


/*___________NODE_________________ */
.node-title
{
	font-weight: bold;
}



/*___________ BOX & C._________________ */

.box
{
	font-size: 0.8em;
	background: url(images/menu_middle.png) repeat-y;
	margin-top: 0.3em;
}

.box .content
{
	background: url(images/menu_down.png) no-repeat bottom;
	padding: 0 0 0.3em 0;
}

.box .title
{
	padding: 0.7em 0 0 0;
	color: #fff;
	text-align: center;
	background: url(images/menu_up.png) no-repeat;
	height: 30px;
}
