
/*___________ TOP LAYOUT_________________ */

body
{
	background-color: #fff;
	font-family: sans-serif ;
}

#page
{
	/*width: 100%;*/
}

#page 
{
	vertical-align: top;
	padding: 10px;
}


#contents
{
	margin-left: 210px;
	vertical-align: top;
}


#left-sidebar
{
	position: absolute;
	left:1em;
	padding: 10px;
	vertical-align: top;
	width: 184px;
}

#logo
{
	background: url(images/logo.png) no-repeat;
	width: 20em;
	height: 4em;
}



#footer
{
	
	vertical-align: bottom;
}

/*___________ITEM_________________ */
.item-title
{
	font-weight: bold;
}



/*___________ BOX & C._________________ */

.box
{
	font-size: 0.8em;
	background: url(images/menu_middle.png) repeat-y;
	margin-top: 0.3em;
}

.box .content
{
	background: url(images/menu_down.png) no-repeat bottom;
	padding: 0 0 0.3em 0;
}

.box .title
{
	padding: 0.7em 0 0 0;
	color: #fff;
	text-align: center;
	background: url(images/menu_up.png) no-repeat;
	height: 30px;
}

/*___________ ADMIN PAGES_________________ */

.admin-table,.admin-table td,.admin-table th
{
	border: 1px solid black;
	padding: 0.3em;
	border-spacing: 0;
	border-collapse: collapse;
}

.admin-table th
{
	background-color: #ddd;
}

/*___________ FORM_________________ */

.form-element,.form-fieldset
{
	margin-top: 8px;
}

.form-element .form-element-invalid
{
	border: 2px solid red !important;
}

.form-element label 
{
	display: block;
	font-weight: bold;
}

.form-element .radio-label
{
	display: inline;
	font-weight: normal;
}

.form-element .checkbox-label
{
	display: inline;
	font-weight: normal;
}


.form-element .form-textfield
{
	border: 1px solid gray;
	width: 90%;
}

.form-element .form-textarea
{
	border: 1px solid gray;
	height: 150px;
	width: 90%;
}

.form-fieldset
{
	width: 88%;
	padding: 1em;
	border: 1px solid #000;
	font-weight: bold;
}
